.dashboard-layout {
  background-color: white;
  display: flex;
  height: 100vh;
  grid-column: span 12 / span 12;
  flex-direction: column;

  main {
    background-color: var(--secondary-100);
    padding: 16px;
    flex: 1 1 0%;
    overflow-y: auto;
    border-top-right-radius: 24px;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-layout {
    grid-column: span 9 / span 9;
    main {
      margin-right: 250px;
    }
  }
}
