.header-dashboard-layout {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  header {
    .isLoading-heade {
      opacity: 0.3;
    }
    .user-name {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700;
      color: var(-secondary-700);
    }
  }
}

@media screen and (min-width: 768px) {
  .header-dashboard-layout {
    margin-right: 250px;
  }
}
