:root {
  --secondary-200: #e5e7eb;
  --secondary-300: #d1d5db;
  --secondary-400: #9ca3af;
  --secondary-500: #6b7280;
  --secondary-600: #4b5563;
  --secondary-700: #1f2937;
  --primary-100: #dbe2ff;
  --primary-700: #6e8aff;
  --primary-900: #4a6dff;
  --red-100: #f8c9c9;
  --red-500: #ef4444;
}
