.section-card {
  background-color: var(--secondary-50);
  color: var(--secondary-600);
  padding: 8px;
  border-radius: 10px;
  .icon-card {
    width: 20px;
  }
  h3 {
    font-size: 15px;
  }
  .box-number {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  height: 150px;
  border-radius: 10px;
  }
}
