.textField {
  font-size: 15px;
  .textField__input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--secondary-900);
    border: 1px solid var(--secondary-100);
    background-color: var(--secondary-100);
    transition: all 300ms ease-out;
    &:hover {
      border-color: var(--primary-500);
    }
    &:focus {
      border-color: var(--primary-500);
      background-color: white;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    }
  }
  label {
    color: var(--secondary-700);
  }
  .textField--invalid {
    border-color: var(--red-500);
  }
}
