.section-pagination {
  display: inline-flex;

  //pagination numbers--------
  .pagination-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid var(--secondary-400);
    color: var(--secondary-400);
    width: 30px;
    height: 30px;
  }
  .single,
  .first {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0;
  }
  .single,
  .last {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .single,
  .first,
  .last {
    &:hover {
      background-color: var(--secondary-200);
    }
  }

  .isActive-page {
    z-index: 10;
    background-color: var(--primary-900);
    color: white;
    pointer-events: none;
  }

  //pagination arrow--------
  .pagination-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    color: var(--secondary-400);
    border: 1px solid var(--secondary-400);
    .icon-arrow {
      width: 20px;
    }
  }

  .isDisabled-arrow {
    pointer-events: none;
    color: var(--secondary-200);
    border-color: var(--secondary-200);
  }
}
